body{
    background-color: #f5f5f5;
}

/* Start Section Header */
#home{
    background-image: url(img/intro-bg.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.overlay{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100vh;

}
#home .caption{
    height: 100%;
    
}
#home h1{
    font-size: 4.5rem;
}
#home p{
    font-size: 2.5rem;
}
.navbar-dark .navbar-nav .nav-link{
    color: #fff !important;
    transition: color .2s ;
}
nav .logo{
    font-size: 1.75rem;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #e67e22 !important;
}
.navbar-toggler-iconn {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 255,255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

/* End Section Header */


/* Start Section About */


.about-me p {
    font-size: 1.25rem;
}
.about-me h2:after ,#contact .layer h2:after{
    display: block;
    height: 4px;
    background-color: #0078FF;
    content: " ";
    margin: .75rem 0 1.35rem;
    width: 100px;
}
/* End Section About */

/* Start Section Services */

.underline:after{
    display: block;
    height: 4px;
    background-color: #0078FF;
    content: " ";
    margin: 0 auto 1.35rem;
    width: 70px;
}
 .icon{
    text-align: center;
    width: 100px;
    height: 100px;
    border: 10px solid #0078FF;
    border-radius: 50%;
    transition: background-color .5s,color .5s ;
}
#services .services-item:hover .icon{
    color: #fff;
    background-color: #0078ff;
    border-color: #CDE1F8;
}

/* End Section Services */


/* Start Section Counter */

.counter-sec{
    background-image: url(../img/post-3.jpg);
}
.counter-overlay{
    background-color: rgba(6, 111, 248, 0.8);
color: #0078ff;
}
.counter-sec .counter-overlay .brdr{
    border-color: #CDE1F8 !important; 
}
/* End Section Counter */


/* Start Section Portfolio */

#portfolio .layer{
    cursor: pointer;
}
#portfolio .item img{
    transition: transform .7s;

}
#portfolio .layer:hover img{
    transform: scale(1.2);
}
#portfolio .item i{
    font-size: 2.5rem;
}
/* End Section Portfolio */



/* Start Section Carousal-Profile */
#profile ,#contact{
   background-image: url(../img/overlay-bg.jpg);
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   position: relative;
}
 .carosal-overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 111, 255, 0.6);
}
#profile .carousel-indicators .active{
    width:23px;
    background-color: #000;
    transition: width .3s;

}
#profile .custom{
    background-color: #fff;
    height: 8px;
    width: 16px;
}
.profile-icon{
    width: 60px;
    height: 60px;
}

/* End Section carousal */

/* Start Section Blog */
.box{
        position: absolute;
        text-align: center;
        top: -16px;
        left: 15px;
        right: 15px;
        line-height: 25px;
        overflow: hidden;
}
.box h6{

    font-size: .7rem;
}
.card-footer a img {
    width: 32px;
    height: 32px;
    margin-right: 4px;
    overflow: hidden;
}
#blog a{
    text-decoration: none;
    color:#1E1E1E;
    transition: color .3s;
}
#blog a:hover{
    color: #0078FF;
}



/* End Section Blog */


/* Start Section Contact */
#contact .layer{
    position: relative;
    z-index: 2;
}

#contact .btn{
    font-size: 1.5rem;
}

#contact  p{
    font-size: 1.25rem;
    font-weight: 300;
}

#contact .social-icon{
    text-align: center;
    width: 46px;
    height: 46px;
    color:#000;
    border: 3px solid #0078FF;
    border-radius: 50%;
    font-size: 1.4rem;
    transition: background-color .5s,color .5s ;
}

.social-icon:hover{
    color: #fff !important;
    background-color: #0078ff;
    border-color: #CDE1F8 !important;
}
#contact .footer p{
    font-size: 1rem;
    margin:0;
}
/* End Section Contact */


